:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.template, .hidden {
  display: none;
}

.moveHere{
  display : none

}

.cards{
  cursor: move;
  border: 1px solid black;
  margin-top: 1%;
}
.cards.dragging{
  opacity: .5;
}

/*TODO*/

/*/.moving{

}
